<% if logged_in? %>
  
<% if current_user.activated && current_user.newbie %>
 


<% end %>

<h1>오늘의 매칭</h1>

<div class="matcher_wraper">
	
<%= render @matchers %>

</div>

<% else %>

<% provide(:title, "Home") %>

		<bs-container>
            <bs-row>
                <bs-col xs="12" sm="12" md="12">                    
					<h1>main 화면 </h1>
					<h2>무언가 사이트를 알릴 수 있는 이미지나 소개글 등등...</h2>
					<h2><%= link_to "회원가입하기", signup_path%></h2>
                </bs-col>
            </bs-row>
        </bs-container>
 

<% end %>
