<polymer-element name="home-link" noscript>
    <template>
        <style>
        :host {
            margin: 0.5rem 0.5rem 0rem 0.5rem;
            display: inline-block;
            float: left;
        }
        h1 {
            margin:0px;
            font-family:'Open Sans', sans-serif !important;
            font-size: 28px !important;
            font-weight: 700 !important;
            display: inline;
        }
        h1 > a, h1 > a:hover, h1 > a:active, h1 > a:focus {
            color: #2d2d2d;
            text-decoration: none;
        }
        </style>
        <h1><content></content></h1>
    </template>
</polymer-element>