<polymer-element name="polymer-date-picker-trigger" attributes="range selectedDate startDate endDate halign opened name">
      <template>
        <style>
          input.date {border: 1px solid #DDDDDD; background-color: #EEEEEE; color:#555555; min-width: 200px; padding: 8px 10px; margin: 10px; border-radius: 4px; }
          input.date:hover { cursor:pointer; border: 1px solid #44B4E4; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }
        </style>
        <template if="{{range != null}}">
          <polymer-date-picker id="datePicker" range startDate="{{startDate}}" endDate="{{endDate}}" relatedTarget="{{$.triggerRange}}" opened="{{opened}}" selected="custom" showRanges="true" timezone="America/New_York"></polymer-date-picker>
          <input type="date" id="triggerRange" value="{{startDate}} to {{endDate}}" on-click="{{toggle}}" readonly class="date" name="{{name}}">
        </template>
        <template if="{{range == null}}">
          <polymer-date-picker id="datePicker" selectedDate="{{selectedDate}}" relatedTarget="{{$.trigger}}" opened="{{opened}}"></polymer-date-picker>
          <input type="date" id="trigger" value="{{selectedDate}}" on-click="{{toggle}}" readonly class="date" name="{{name}}">
        </template>
      </template>
      <script>
        Polymer('polymer-date-picker-trigger', {
          toggle: function() {
              this.$.datePicker.toggle();
          },
          open: function() {
              this.$.datePicker.open();
          }
        });
        
      </script>
</polymer-element>