.nested-fields
	= f.input :language, collection: ["러시아어", "스페인어","영어(영국)", "영어(미국)", "일본어", "중국어(북경어)", "중국어(광동어)","한국어"], prompt:"언어 선택", class:"user_language", :label=>"언어"
	
	= f.input :level, collection: [['Beginner', 1 ] ,['intermediate', 2],['advanced', 3],['fluent', 4],['native', 5]], :include_blank => false, :label=>"등급"
	%paper-button{:raised=>""}
		= link_to_remove_association "삭제", f
  