.nested-fields
	= f.input :language 
	
	= f.input :level, collection: [['Beginner', 1 ] ,['intermediate', 2],['advanced', 3],['fluent', 4],['native', 5]], :include_blank => false
	= link_to_remove_association "삭제", f
  