=image_tag @pic.name.url(:jumbo),id:'picture_cropbox' if @pic = @user.pictures.first

= form_for @pic do |f|
 
 - %w[x y w h].each do |attribute|
  = f.text_field "crop_#{attribute}"
 =f.submit "crops"
