=simple_form_for @user  do |f| 
  =render 'shared/error_messages' , object: f.object

  core-animated-pages*{:transitions=>"cross-fade-all"}
    ml-signup-firstconfig-form0*{:class=>"length"}
      h4*{:class=>"error"}
      =f.input :gender, label: "성별" , collection: ["여자", "남자"], prompt: "성별을 선택하세요"
      paper-button*{:id=>"languages_add",:raised=>""}
        = link_to_add_association(f, :languages, :'data-association-insertion-method'=>"after") do
          core-icon*{:icon=>"add"}
      = f.simple_fields_for :languages  do |language|
        = render 'language_fields', :f => language         
      #introduce
        = f.label :introduce,"자기소개"
        paper-input-decorator*{:label=>"쓰든지 말든지",:floatingLabel=>""}
          paper-autogrow-textarea             
            = f.input :introduce, label: false, wrapper: false,:maxlength=>"100"
          paper-char-counter*{:class=>"counter", :target=>"user_introduce"}
      .button-form
        paper-button*{id:"nextclick0"} 다음

    ml-signup-firstconfig-form1*{:class=>"length"}
      h4*{:class=>"error"}
      #interests
        ml-highlight          
          h4 5개 까지만 선택해 주세요.
        =f.hidden_field :interests , label: "관심사"
        div*{:id=>"buttons_field"}
          -['언어교환','술','공부','연애','등산','친목','여행','봉사활동','클럽','비즈니스','게임','독서','영화','공연','음악','맛집'].each do |r|          
            paper-button*{:class=>'interests_buttons',:raised=>"false"} #{r}
      .button-form
        paper-button*{id:"beforeclick0"} 이전
        paper-button*{id:"nextclick1"} 다음  

    ml-signup-firstconfig-form2*{:class=>"length"}
      h4*{:class=>"error"}
      = f.input :matching_lan, collection: ["러시아어", "스페인어","영어(영국)", "영어(미국)", "일본어", "중국어(북경어)", "중국어(광동어)","한국어"], prompt:"언어 선택", :label=>"배우고 싶은 언어"
      =f.input :matching_age_from  , collection: 14..60, label: false, prompt: "최소 나이", wrapper: false
      =f.input :matching_age_to  , collection: 14..60 , label: false, prompt: "최대 나이", wrapper: false      
      .button-form
        paper-button*{id:"beforeclick1"} 이전
        paper-button*{id:"nextclick2"} 다음

    ml-signup-firstconfig-form3*{:class=>"length"}
      #pictures
        = f.fields_for :pictures , html: { multipart: true } do |picture|
          div*{:class=>'fileinput fileinput-new',:'data-provides' => 'fileinput'}
            div*{:class=>'fileinput-new thumbnail', :style => 'width: 150px; height: 150px;'}
              img*{:'data-src'=>'holder.js/100x100'}
            div*{:class=>'fileinput-preview fileinput-exists thumbnail'}
            div
              span*{:class=>'btn btn-default btn-file'}
                span*{:class=>'fileinput-new'} 이미지 선택
                span*{:class=>'fileinput-exists'} 이미지 변경
                = picture.file_field :name , label:  "프로필 사진"
      .button-form
        paper-button*{id:"beforeclick2"} 이전
        ml-submit-button*{:id=>"firstconfig_msb"}
          =f.submit "설정 완료", is:"core-input"
= content_for :javascript do
  = javascript_include_tag "user_edit", 'data-turbolinks-track' => true


javascript:
  
  //javascript traning(closure ex)
  //next,before button
  var eventQuery = document.querySelector('core-animated-pages');
  var length = document.querySelectorAll('.length').length;
  for(var i=0; i<length-1; i++){
    document.querySelector('#nextclick'+i).addEventListener("click", (function (index) {   
          return function () {              
              eventQuery.selected = index+1;
              $(".error").eq(0).text("");
              if(eventQuery.selected===1){
                ff_prevent0();
                $(".error").eq(1).text("");
              }else if(eventQuery.selected===2){
                ff_prevent1();
                $(".error").eq(2).text("");
              }else if(eventQuery.selected===3){
                ff_prevent2();                
              }              
          };
      }(i)), false);
    document.querySelector('#beforeclick'+i).addEventListener("click", (function (index) {   
          return function () {
              eventQuery.selected = index;
          };
      }(i)), false);
   }

   //prevent
   function ff_prevent0(){
      var gender = $("#user_gender option:selected").val();
      if(gender === ""){
        eventQuery.selected = 0;
        $(".error").text("성별을 선택하세요.");
      }
      else if($(".nested-fields").length===0){
        eventQuery.selected = 0;
        $(".error").text("언어를 추가하세요.");
      }else if($(".nested-fields").length !==0){
        var lang_text =  $(".user_languages_language select option:selected").val();
        var optin_length = $(".nested-fields").length;
        for(var i = 0; i<optin_length; i++){
          if(lang_text===""){
            eventQuery.selected = 0;
            $(".error").text("언어를 선택하세요.");
          }
        }
      }      
   }

   function ff_prevent1(){
    if(ib_arry.length===0){
      eventQuery.selected = 1;
      $(".error").text("한 개 이상은 선택해 주세요.");
    }
   }

   function ff_prevent2(){
    var lang = $("#user_matching_lan option:selected").val();
    var from = $("#user_matching_age_from").val();
    var to = $("#user_matching_age_to").val();
    if(lang===""){
      eventQuery.selected = 2;
      $(".error").text("언어를 선택하세요.");
    }else if(from==="" || to===""){
      eventQuery.selected = 2;
      $(".error").text("원하는 연령을 선택하세요.");
    }else if(from >= to){
      eventQuery.selected = 2;
      $(".error").text("연령 범위를 다시 설정해 주세요.");
    }
   }

   function ff_prevent3(){
   }



