<!-- 사용할 때 submit helper method에 is:"core-input"을 달아준다. 일단은.. -->
<polymer-element name="ml-submit-button" noscript>
	<template>
		<style shim-shadowdom>
			:host{
				display: inline-block;
				margin-bottom: 10px;

			}
			#submit_button::shadow .button-content{
				padding: 0;
			}

			#submit_button::shadow #ripple{
				color: black;
			}

			#submit_button ::content input{
				cursor: pointer;
				padding: 0.7rem 0.57rem;
				border-radius: 0.5rem;
				color: #fff;
				font-weight: 600;
			}
			paper-button{
				border-radius: 0.5rem;
				background: rgba(244,81,30,0.9);
			}			
		</style>
		<paper-button id="submit_button" raised><content select="input"><content></paper-button>
	</template>
</polymer-element>