@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800");
@import url("//fonts.googleapis.com/css?family=Oxygen:300,400,700");
html,
body {
  height: 100%;
  background-color: #fff;
  color: #535353;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  text-align: center;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 23px;
  color: #f4511e;
}
h4 {
  font-size: 18px;
  text-transform: uppercase;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  h6 {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 10px;
  }
  h5 {
    font-size: 10px;
  }
  h6 {
    font-size: 10px;
  }
}
a {
  color: #f4511e;
  text-decoration: none;
  outline: 0 none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:focus,
a:hover,
a:active {
  color: #f4511e;
  text-decoration: none;
  outline: 0 none;
}
p {
  font-size: 16px;
  line-height: 22px;
}
b {
  font-weight: 400;
}
section {
  padding: 20px;
  background-color: #fff;
}
section[hero] {
  background-color: #f3f3f3;
}
/* BEGIN: From core-drawer-panel */
/* @see https://www.polymer-project.org/components/core-drawer-panel/demo.html */
[drawer] {
  background-color: #f3f3f3;
  border-right: 1px solid #d3d3d3;
  color: #f4511e;
}
[main] {
  height: 100%;
  background-color: #fff;
}
button {
  display: none;
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin: 8px;
}
core-drawer-panel[narrow] button {
  display: inline-block;
}
/* END: From core-drawer-panel */
/* BEGIN: From core-scroll-header-panel */
/* @see https://www.polymer-project.org/components/core-scroll-header-panel/demo.html */
core-scroll-header-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* background for toolbar when it is at its full size */
core-scroll-header-panel::shadow #headerBg {
  background-image: url("//unsplash.it/1280/767?random");
}
/* background for toolbar when it is condensed */
core-scroll-header-panel::shadow #condensedHeaderBg {
  background-color: #f4b400;
}
core-toolbar {
  color: #f1f1f1;
  fill: #f1f1f1;
  background-color: transparent;
}
.title {
  -webkit-transform-origin: 0;
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
  font-size: 40px;
}
.content {
  padding: 8px;
  background-color: #eee;
}
/* END: From core-scroll-header-panel */
core-scaffold::shadow core-header-panel {
  background-color: #fff;
  color: #2d2d2d;
}
core-scaffold::shadow core-toolbar {
  background-color: #fff;
  color: #2d2d2d;
}
vitamin-c-scaffold::shadow header,
vitamin-c-scaffold::shadow core-header-panel::shadow #outerContainer {
  background-color: #2d2d2d;
}
vitamin-c-scaffold::shadow content,
vitamin-c-scaffold::shadow .content {
  background-color: #fff;
}
vitamin-c-scaffold /deep/ img.logo {
  height: 40px;
}
vitamin-c-scaffold /deep/ footer,
vitamin-c-scaffold /deep/ .footer {
  display: block;
  color: #8f8f8f;
  background-color: #3f3f3f;
  font-size: 12px;
  padding: 10px 30px;
  text-align: left;
}
vitamin-c-scaffold /deep/ footer neat-links,
vitamin-c-scaffold /deep/ .footer neat-links,
vitamin-c-scaffold /deep/ footer a,
vitamin-c-scaffold /deep/ .footer a {
  color: #8f8f8f;
  text-transform: uppercase;
}
vitamin-c-scaffold /deep/ footer neat-links:hover,
vitamin-c-scaffold /deep/ .footer neat-links:hover,
vitamin-c-scaffold /deep/ footer a:hover,
vitamin-c-scaffold /deep/ .footer a:hover,
vitamin-c-scaffold /deep/ footer neat-links :active,
vitamin-c-scaffold /deep/ .footer neat-links :active,
vitamin-c-scaffold /deep/ footer a :active,
vitamin-c-scaffold /deep/ .footer a :active {
  color: #808080;
}
/*
 * (c) PolymerThemes
 * Homepage: http://polymerthemes.com
 * Copyright 2014 Polymer Themes
 * Licensed under BSD
 * Based on Polymer: http://www.polymer-project.org/
 * Compatible with Polymer 0.5.1
 */
html /deep/ core-header-panel {
  height: 100%;
}
html /deep/ core-header-panel[mode=cover]::shadow #mainContainer {
  left: 70px;
}
html /deep/ .core-header {
  height: 60px;
  font-size: 18px;
  padding: 0 10px;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -ms-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  background-color: #f4511e;
  color: #fff;
}
html /deep/ .core-header a {
  color: #fff;
}
html /deep/ .core-header paper-item {
  font-size: 18px;
}
html /deep/ .core-header.tall {
  height: 180px;
}
html /deep/ .core-header.medium-tall {
  height: 120px;
}
html /deep/ .core-header /deep/ core-menu-button a {
  color: #535353;
}
html /deep/ .content {
  background: linear-gradient(#d6e3e7, #add8e6);
}
html /deep/ .wrapper {
  text-align: center;
}
html /deep/ .core-header /deep/ a:hover {
  text-decoration: none;
}
html /deep/ #ripple,
html /deep/::shadow #ripple {
  color: #fbb9a5;
}
html /deep/ paper-button {
  margin: 2px;
  text-transform: none;
  font-weight: 300;
}
html /deep/ paper-button[link] {
  text-decoration: underline;
}
html /deep/ paper-button[disabled] {
  color: #545660 !important;
  background: #afb1b9 !important;
}
html /deep/ paper-button[raised] {
  color: #535353;
}
html /deep/ paper-button #ripple,
html /deep/ paper-button::shadow #ripple {
  color: #bababa;
}
html /deep/ paper-button[primary] {
  color: #f4511e;
}
html /deep/ paper-button[primary] #ripple,
html /deep/ paper-button[primary]::shadow #ripple {
  color: #fbb9a5;
}
html /deep/ paper-button[primary][raised] {
  background-color: #f4511e;
  color: #fff;
}
html /deep/ paper-button[primary][raised] #ripple,
html /deep/ paper-button[primary][raised]::shadow #ripple {
  color: #de3d0b;
}
html /deep/ paper-button[secondary] {
  color: #2d2d2d;
}
html /deep/ paper-button[secondary] #ripple,
html /deep/ paper-button[secondary]::shadow #ripple {
  color: #ababab;
}
html /deep/ paper-button[secondary][raised] {
  background-color: #2d2d2d;
  color: #fff;
}
html /deep/ paper-button[secondary][raised] #ripple,
html /deep/ paper-button[secondary][raised]::shadow #ripple {
  color: #262626;
}
html /deep/ paper-button[success] {
  color: #9dc56e;
}
html /deep/ paper-button[success] #ripple,
html /deep/ paper-button[success]::shadow #ripple {
  color: #d8e8c5;
}
html /deep/ paper-button[success][raised] {
  background-color: #9dc56e;
  color: #fff;
}
html /deep/ paper-button[success][raised] #ripple,
html /deep/ paper-button[success][raised]::shadow #ripple {
  color: #87b84d;
}
html /deep/ paper-button[info] {
  color: #ffb74d;
}
html /deep/ paper-button[info] #ripple,
html /deep/ paper-button[info]::shadow #ripple {
  color: #ffe2b8;
}
html /deep/ paper-button[info][raised] {
  background-color: #ffb74d;
  color: #fff;
}
html /deep/ paper-button[info][raised] #ripple,
html /deep/ paper-button[info][raised]::shadow #ripple {
  color: #ffa31b;
}
html /deep/ paper-button[warning] {
  color: #fadd60;
}
html /deep/ paper-button[warning] #ripple,
html /deep/ paper-button[warning]::shadow #ripple {
  color: #fdf1bf;
}
html /deep/ paper-button[warning][raised] {
  background-color: #fadd60;
  color: #fff;
}
html /deep/ paper-button[warning][raised] #ripple,
html /deep/ paper-button[warning][raised]::shadow #ripple {
  color: #f8d22e;
}
html /deep/ paper-button[error] {
  color: #e24642;
}
html /deep/ paper-button[error] #ripple,
html /deep/ paper-button[error]::shadow #ripple {
  color: #f3b5b3;
}
html /deep/ paper-button[error][raised] {
  background-color: #e24642;
  color: #fff;
}
html /deep/ paper-button[error][raised] #ripple,
html /deep/ paper-button[error][raised]::shadow #ripple {
  color: #d72621;
}
html /deep/ paper-button[link] {
  color: #000;
}
html /deep/ paper-button[link] #ripple,
html /deep/ paper-button[link]::shadow #ripple {
  color: #999;
}
html /deep/ paper-button[link][raised] {
  background-color: #fff;
  color: #000;
}
html /deep/ paper-button[link][raised] #ripple,
html /deep/ paper-button[link][raised]::shadow #ripple {
  color: #d9d9d9;
}
html /deep/ paper-checkbox {
  padding: 20px;
}
html /deep/ paper-checkbox::shadow #ink {
  color: #535353;
/* Change the ink color for checked state */
}
html /deep/ paper-checkbox::shadow #ink[checked] {
  color: #f4511e;
}
html /deep/ paper-checkbox::shadow #checkbox {
  border-color: #535353;
/* Change the checkbox checked color */
}
html /deep/ paper-checkbox::shadow #checkbox.checked {
  border-color: #f4511e;
}
html /deep/ paper-fab {
  background-color: #f4511e;
}
html /deep/ paper-fab::shadow core-icon {
  color: #fff !important;
}
html /deep/ core-toolbar paper-tabs {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
html /deep/ paper-tabs,
html /deep/ core-toolbar {
  background-color: #f4511e;
  color: #fff;
  -webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  -ms-box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
}
html /deep/ paper-tabs.transparent-teal {
  background-color: transparent;
  color: #f4511e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
html /deep/ paper-tabs.transparent-teal::shadow #selectionBar {
  background-color: #f4511e;
}
html /deep/ paper-tabs.transparent-teal paper-tab::shadow #ink {
  color: #f4511e;
}
html /deep/ paper-tabs[noink][nobar] paper-tab.core-selected {
  background-color: #db3c0b;
  -webkit-transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1);
  -moz-transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1);
  -ms-transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1);
  -o-transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1);
  transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1);
}
html /deep/ paper-tabs::shadow * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
html /deep/ paper-tabs::shadow #selectionBar {
  background-color: #feeee8;
}
html /deep/ paper-tab::shadow #ink {
  color: #feeee8;
}
html /deep/ paper-toast {
  background: #323232;
  color: #f1f1f1;
  text-align: left;
}
html /deep/ paper-toast .highlight {
  color: #ffb74d;
}
html /deep/ paper-toast::shadow * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
html /deep/ paper-input[focused] .floated-label {
  color: #f4511e;
}
html /deep/ paper-input[focused] .error-text,
html /deep/ paper-input[focused] .error-icon {
  color: #e24642;
}
html /deep/ paper-input .focused-underline {
  background-color: #535353;
}
html /deep/ paper-input.invalid .focused-underline {
  background-color: #e24642;
}
html /deep/ paper-input.invalid[focused] .floated-label {
  color: #e24642;
}
html /deep/ paper-input[disabled] {
  color: #afb1b9;
}
html /deep/ paper-input-decorator /deep/ .label-text,
html /deep/ paper-input-decorator /deep/ .error {
/* inline label,  floating label, error message and error icon color when the input is unfocused */
  color: #878787;
}
html /deep/ paper-input-decorator /deep/ .unfocused-underline {
/* line color when the input is unfocused */
  background-color: #878787;
}
html /deep/ paper-input-decorator /deep/ .focused-underline {
/* line color when the input is focused */
  background-color: #f4511e;
}
html /deep/ paper-input-decorator /deep/ .cursor {
/* cursor color during the focus transition */
  background-color: #f4511e;
}
html /deep/ paper-input-decorator /deep/ ::-webkit-input-placeholder {
/* platform specific rules for placeholder text */
  color: #878787;
}
html /deep/ paper-input-decorator /deep/ ::-moz-placeholder {
  color: #878787;
}
html /deep/ paper-input-decorator /deep/ :-ms-input-placeholder {
  color: #878787;
}
html /deep/ paper-input-decorator[focused] .floated-label .label-text,
html /deep/ paper-input-decorator[focused] /deep/ .floated-label .label-text {
/* floating label color when the input is focused */
  color: #f4511e;
}
html /deep/ paper-input-decorator.invalid[focused] /deep/ .floated-label .label-text,
html /deep/ paper-input-decorator[focused] /deep/ .error {
/* floating label, error message nad error icon color when the input is invalid and focused */
  color: #e24642;
}
html /deep/ paper-input-decorator.invalid /deep/ .floated-label .label-text,
html /deep/ paper-input-decorator /deep/ .error {
/* floating label, error message nad error icon color when the input is invalid and not focused */
  color: #e24642;
}
html /deep/ paper-input-decorator.invalid /deep/ .focused-underline,
html /deep/ paper-input-decorator.invalid /deep/ .cursor {
/* line and cursor color when the input is invalid and focused */
  background-color: #e24642;
}
html /deep/ .toolbar {
  color: #fff;
  background: #f4511e;
}
html /deep/ .card {
  background: #fff;
}
html /deep/ paper-menu-button paper-item {
  color: #fff;
}
html /deep/ paper-menu-button paper-item:hover {
  background-color: #f4511e;
}
html /deep/ paper-dropdown::shadow #background {
  background-color: #2d2d2d;
}
html /deep/ .small {
  font-size: 12px;
}
html /deep/ .logo {
  font-size: 21px;
}
html /deep/ .logo a {
  font-weight: 700;
  color: #fff;
}
html /deep/ .inverse {
  background-color: #7ec0ee;
  color: #fff;
}
html /deep/ paper-progress::shadow #activeProgress {
  background-color: #f4511e;
}
html /deep/ paper-progress::shadow #secondaryProgress {
  background-color: #2d2d2d;
}
html /deep/ paper-radio-button::shadow #ink {
  color: #fbb9a5;
}
html /deep/ paper-radio-button::shadow #ink[checked] {
  color: #fbb9a5;
}
html /deep/ paper-radio-button::shadow #onRadio {
  background-color: #f4511e;
}
html /deep/ paper-radio-button::shadow #offRadio {
  background-color: #fff;
}
html /deep/ paper-toggle-button::shadow paper-radio-button::shadow #ink {
  color: #fbb9a5;
}
html /deep/ paper-toggle-button::shadow paper-radio-button::shadow #ink[checked] {
  color: #fbb9a5;
}
html /deep/ paper-toggle-button::shadow paper-radio-button::shadow #onRadio {
  background-color: #f4511e;
}
html /deep/ paper-toggle-button::shadow paper-radio-button::shadow #offRadio {
  background-color: #fff;
}
html /deep/ paper-toggle-button::shadow #toggleBar {
  background-color: #535353;
}
html /deep/ paper-toggle-button::shadow #toggleBar[checked] {
  background-color: #f4511e;
}
html /deep/ paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #f4511e;
}
html /deep/ paper-slider::shadow #sliderBar::shadow #secondaryProgress {
  background-color: #2d2d2d;
}
html /deep/ paper-slider::shadow #sliderKnobInner {
  background-color: #f4511e;
}
html /deep/ paper-slider::shadow #sliderKnobInner::before {
  background-color: #f4511e;
}
html /deep/ paper-icon-button[disabled]::shadow core-icon {
  color: #afb1b9 !important;
}
